<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active"
                    style="background-image: url(https://img.freepik.com/foto-gratis/pantalla-escaneo-programador-su-reloj-inteligente-camara-telefono-inteligente_1098-18710.jpg?t=st=1658101802~exp=1658102402~hmac=909b7938c74ddb3816ab9314ec08a88550efb92c82a2d8012d2c9189b50e0c1f&w=1060);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">CodeNoob</h2>
                            <p class="animate__animated animate__fadeInUp">Nuestro proyecto consiste en proporcionar un
                                aprendizaje guiado y supervisado dentro del ámbito de la programación, esto tiene como
                                objetivo mejorar y facilitar la preparación de nuestros usuarios ante los diversos
                                lenguajes que existen.</p>
                            <div>
                                <a href="#about"
                                    class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer Mas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                </div>
                <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3>Sobre nosotros</h3>
                        <p>
                            Somos un grupo de estudiantes los cuales desarrollamos CodeNoob para tener
                            una manera diferente de estudio para los lenguajes de programacion que existen dentro
                            de este ambito.
                        </p>
                        <div class="row">
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-receipt"></i>
                                <h4>Proposito</h4>
                                <p>La mayoría de métodos de aprendizaje de programación son un poco tediosos e incluso a
                                    muchas personas le tienen una especie de miedo. El propósito de CodeNoob es cambiar
                                    el aspecto educativo dentro de la programación implementando un aprendizaje por
                                    medio de mini juegos y así revolucionando la imagen de la programación de una manera
                                    nunca antes vista.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Objetivos</h4>
                                <p>Crear un entorno de estudio amigable y óptimo para las personas que ingresen a
                                    nuestro software.</p>
                                <p>Ser un software líder que sea conocido por lo que ofrece y las necesidades que es
                                    capaz de solucionar.</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-images"></i>
                                <h4>Alcance</h4>
                                <p>Dar certificados a las personas y garantizar que son expertos en el uso del lenguaje.
                                </p>
                                <p>Llegar a tener muchos lenguajes de programación tanto síncronos como asíncronos.</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-shield"></i>
                                <h4>Valores</h4>
                                <p>Los valores de CodeNoob se van a basar en la solidaridad y sobre todo en el trabajo
                                    de equipo.</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Servicios</h2>
                <p>Nosotros como equipo queremos brindar una serie de servicios para que el usuario se pueda sentir
                    comodo con nuestra aplicacion.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    <div><i class="bi bi-briefcase"></i></div>
                    <h4 class="title">Servicio de certificacion</h4>
                    <p class="description">Nosotros como grupo queremos brindarles certifiacion para demostrar el
                        aprendizaje gracias a nuestro proyecto</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title">Servicio de aprendizaje gratuito</h4>
                    <p class="description">Tenemos como meta brindar nuestros servicios de una manera gratuita para que
                        las personas puedan aprender lenguajes
                        de programacion mas facil y que tenga la disponibilidad de ello.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title">Servicio de aprendizaje Autodidacta</h4>
                    <p class="description">Nosotros queremos que nuestros usuarios tengan la capacidad de ser
                        autodidactas para su aprendizaje</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div><i class="bi bi-binoculars"></i></div>
                    <h4 class="title">Aprendizaje didactico</h4>
                    <p class="description">Tambien queremos brindar un aprendizaje didactico para que tambien puedan
                        aprender con base de las experiencias de un
                        profesor capacitado para ello.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title">Facilitación de cursos</h4>
                    <p class="description">Queremos que todos los usuarios tengan todos los recursos necesarios en
                        nuestro proyecto para su aprendizaje. </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title">Servicio de enseñanza interactiva</h4>
                    <p class="description">Queremos que nuestra enseñanza sea muy diferente a la que estamos
                        acostumbrados dentro de la programacion.</p>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title">
                <h2>Por que nosotros?</h2>
                <p>Consideramos que podemos ser una gran opcion de aprendizaje de programacion dentro de un futuro no
                    tan lejano debio a estas
                    razones:
                </p>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box">
                        <span>01</span>
                        <h4>Diferente forma de aprendizaje</h4>
                        <p>Nosotros queremos implementar una manera diferente de aprendizaje para la programacion
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <span>02</span>
                        <h4>Aprendizaje autodidacta y didactico</h4>
                        <p>Queremos implementar estas dos formas de aprendizaje debido a que dentro de la programacion
                            es necesario pooseer estos dos
                            tipos de aprendizajes
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <span>03</span>
                        <h4>Facilidad de recursos</h4>
                        <p>Vamos a facilitad diferentes tipos de informacion y librerias para el aprendizaje de nuestros
                            usuarios
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Team</h2>
                <p>Aqui estan todos los que participamos para la realizacion del proyecto CodeNoob.</p>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member">
                        <img src="https://i.pinimg.com/564x/87/22/aa/8722aad94fe5101af198df116a37f852.jpg"
                            class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Marcelo Diaz</h4>
                                <span>Grupo 1</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="https://i.pinimg.com/564x/66/7d/b1/667db1e69a4abf783cd78c09a531f1f2.jpg"
                            class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Christian Blanco</h4>
                                <span>Grupo 1</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="https://i.pinimg.com/564x/32/fb/5d/32fb5d54cef4f4a9eceb423932503282.jpg"
                            class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Diego Flores</h4>
                                <span>Grupo 1</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="https://i.pinimg.com/564x/46/8a/bc/468abca1e68aa07625803efc617cde9c.jpg"
                            class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Carlos Aceituno</h4>
                                <span>Grupo 1</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Preguntas frecuentes</h2>
                <p>En este apartado encontraras las preguntas mas frecuentes que nos hacen acerca de CodeNoob</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#faq-list-1">En que consiste CodeNoob? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                CodeNoob es un programa que se orienta a la enseñanza de programación,
                                para funcionar como una guía que ayuda al usuario en todo momento para que su
                                aprendizaje sea lo mas optimo posible.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-2" class="collapsed">Como utilizar CodeNoob si no soy un
                            programador?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Para utilizar CodeNoob no necesita ser un experto, puede no tener conocimiento alguno
                                sobre la programación y perfectamente puede utilizar nuestro programa ya que nuestro
                                objetivo es que las personas al menos tengan un conocimiento básico sobre la
                                programación.
                                Con CodeNoob las personas tendrán una educación optima y de calidad. CodeNoob, todos
                                fuimos noob alguna vez
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-3" class="collapsed"> Porque surgio La idea del proyecto?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                La idea surgió debido a que muchas personas no les interesaba el aprendizaje de la
                                programación de la forma tradicional. Esto debido a que las personas promedio que no les
                                interesa la programación a fondo se les encuentra tedioso y con cierta dificultad al
                                aprender ciertos temas, por lo cual se nos genero una nueva modalidad de aprendizaje
                                inspirada en cierta aplicación de aprendizaje de idiomas, la cual hace que las personas
                                aprendan por medio de minijuegos y preguntas respecto al tema que quieran aprender.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-4" class="collapsed">Porque hacen esto? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Consideramos que esta nueva modalidad de aprendizaje es muy buena para un usuario que le
                                interesa el aprendizaje de la programación pero se le encuentra en cierta parte tedioso.
                                Por lo cual CodeNoob es una aplicación de aprendizaje de programación con una diferente
                                modalidad de aprendizaje a comparación de otras aplicaciones. Por lo cual consideramos
                                que CodeNoob puede destacar para bien dentro de las aplicaciones de aprendizaje dentro
                                del ámbito de la programación.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->