<br><br><br><br><br>
<div class="wrapper">
  <div class="logo">
      <img src="../../../assets/images/CodeNoob.jpeg" alt="">
  </div>
  <div class="text-center mt-4 name">
      Profesor
  </div>
  <form class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" id="email" placeholder="email" name="email"  #email="ngModel"
          [(ngModel)]="profesorModel.email">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="password" placeholder="password" #password="ngModel"
          [(ngModel)]="profesorModel.password">
      </div>
      <button class="btn mt-3" (click)="loginProfe()">Login</button>
  </form>
  <div class="text-center fs-6">
    <a href="#">No tienes cuenta?</a> or <a href="/eleccionRegistro">Registrate</a>
  </div>
</div>
