<script src="https://use.fontawesome.com/bf66789927.js"></script>
<br><br><br><br><br><br>

<table class="listado">
  <thead>
    <tr>
      <th>
        <h1>No.</h1>
      </th>
      <th>
        <h1>Leccion</h1>
      </th>
      <th>
        <h1>Puntos Leccion</h1>
      </th>
      <th>
        <h1>Opciones</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>U001</td>
      <td>Juan Carlos Merlos</td>
      <td>Activo</td>
      <td class="icono"><a href="#">Hacer ➜</a></td>
    </tr>

  </tbody>
</table>
