<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-5">
        <h1 class="display-4">Elige cómo quieres registrarte</h1>
      </div>
    </div>
    <div class="row" href="#">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col"
          style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Login</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">Logearse como alumno</a></h4>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle"
                  src="../../../assets/images/educacion-a-distancia.jpeg"
                  alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col"
          style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
          <img class="card-img d-none" src="/src/assets/images/teach.png"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Login</small>
              <h4 class="card-title mt-0 "><a class="text-white">Logearse como profesor</a></h4>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle"
                src="../../../assets/images/aprendiendo.jpeg"
                alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
